<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO RPG</title>
    <script type="text/javascript" src="res/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="res/socket.io.min.js"></script>

<!-- headers for moving -->
<script src="res/modernizr-2.0.6.js"></script>

<script src = "res/SimpleDiskParticle.js"></script>
<script src = "res/SimpleSquareParticle.js"></script>
<!-- end headers for moving -->

<script type="text/javascript" charset="utf-8">


var shapes;
var numShapes;
var mapNb = 1;
var maps = {1 : 'res/846205Nightprowler.jpg', 2 : 'res/mliuej-plan-parchemin.jpg'};

$(document).ready(function() {

    // Toggle Game Master
    $('#gm').change(function(){ 
		    $('#form-group').toggle();
		    if(this.checked) 
		    socket.emit('join', {room: 'GM'});
		    else
		    socket.emit('leave', {room: 'GM'});
  });

		// Use a "/test" namespace.
		// An application can open a connection on multiple namespaces, and
		// Socket.IO will multiplex all those connections on a single
		// physical channel. If you don't care about multiple channels, you
		// can set the namespace to an empty string.
		namespace = '/test';

		// Connect to the Socket.IO server.
		// The connection URL has the following format:
		//     http[s]://<domain>:<port>[/<namespace>]
		var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

		// Event handler for new connections.
		// The callback function is invoked when a connection with the
		// server is established.
		socket.on('connect', function() {
				socket.emit('my event', {data: 'I\'m connected!'});
				});

		// Event handler for server sent data.
		// The callback function is invoked whenever the server emits data
		// to the client. The data is then displayed in the "Received"
		// section of the page.
		socket.on('my response', function(msg) {
				if (msg.data.startsWith("GM:"))
				$('#log').prepend('<br><font color="red">' + $('<div/>').text(msg.data).html() + "</font>");
				else
				$('#log').prepend('<br>' + $('<div/>').text('All #' + msg.count + ': ' + msg.data).html());
				});

		// Event handler for the broadcasts of all player positions
		socket.on('players', function(msg) {
				for (var eachplayer in msg.data.players)
				{
				var playername = msg.data.players[eachplayer].name;
				var playertype = msg.data.players[eachplayer].type;
				var coord = msg.data.coord[playername];
				var x,y;
				if (!coord)
				{
				x = 10; y = 10; zmap = 0;
				}
				else
				{
				x = msg.data.coord[playername].x;
				y = msg.data.coord[playername].y;
				zmap = msg.data.coord[playername].zmap;
				}

				nbPlayer = getShapeForPlayer(playername,playertype);
				//$('#log').prepend('<br>' + $('<div/>').text('XY: ' + playername +  x + '/' + y).html());

				// updating coordinate
				shapes[nbPlayer].x = x;
				shapes[nbPlayer].y = y;
				shapes[nbPlayer].zmap = zmap;
				// Workaround:
				// Due to the algorithm for refreshing the last shape in the array
				// and because of TimerClick frequent updates
				// we need to update the global variable targetX and targetY
				if (nbPlayer == numShapes - 1)
				{
					targetX = x;
					targetY = y;
				}

				// Updating player list
          			// ====================
				var existsInListOfPlayers = searchInNowherePlayers(playername);
				// If the player has no map
				if (shapes[nbPlayer].zmap != mapNb)
				{
					var nowhereplayer = document.getElementById('nowhereplayer');
					//$("#nowhereplayer").empty();

					if (!existsInListOfPlayers)
						$('#nowhereplayer').append($('<option>', { value: playername, text : playername }));
				}
				else
				{
					if (existsInListOfPlayers)
						$('#nowhereplayer option[value=' + playername + ']').remove();
						
					
				}
 				// End of update of player list
				// ============================
				} // End of iteration over all player positions
				drawScreen(); 
				drawShapes(); 
				});
		// Interval function that tests message latency by sending a "ping"
		// message. The server then responds with a "pong" message and the
		// round trip time is measured.
		var ping_pong_times = [];
		var start_time;
		window.setInterval(function() {
				start_time = (new Date).getTime();
				socket.emit('my ping');
				}, 1000);

		// Handler for the "pong" message. When the pong is received, the
		// time from the ping is stored, and the average of the last 30
		// samples is average and displayed.
		socket.on('my pong', function() {
				var latency = (new Date).getTime() - start_time;
				ping_pong_times.push(latency);
				ping_pong_times = ping_pong_times.slice(-30); // keep last 30 samples
				var sum = 0;
				for (var i = 0; i < ping_pong_times.length; i++)
				sum += ping_pong_times[i];
				$('#ping-pong').text(Math.round(10 * sum / ping_pong_times.length) / 10);
				});

		// Handlers for the different forms in the page.
		// These accept data from the user and send it to the server in a
		// variety of ways
		$('form#emit').submit(function(event) {
				socket.emit('my event', {data: $('#emit_data').val()});
				return false;
				});
		$('form#broadcast').submit(function(event) {
				socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
				$('#broadcast_data').val("");
				return false;
				});
		$('form#join').submit(function(event) {
				socket.emit('join', {room: $('#join_room').val()});
				return false;
				});
		$('form#leave').submit(function(event) {
				socket.emit('leave', {room: $('#leave_room').val()});
				return false;
				});
		$('form#send_room').submit(function(event) {
				socket.emit('my room event', {room: 'GM', data: $('#room_data').val()});
				$('#room_data').val("");
				return false;
				});
		$('form#close').submit(function(event) {
				socket.emit('close room', {room: $('#close_room').val()});
				return false;
				});
		$('form#disconnect').submit(function(event) {
				socket.emit('disconnect request');
				return false;
				});
		$('form#putonmap').submit(function(event) {
				var position = '{"name" : "' + document.getElementById('nowhereplayer').value + '", "x" : 30, "y" : 30, "zmap" : ' + mapNb +'}';
				socket.emit('move', {data: position});
				return false;
				});

		function searchInNowherePlayers(playername)
		{
			for(var i = 0, opts = document.getElementById('nowhereplayer').options; i < opts.length; ++i)
					{
						if (opts[i].value == playername)
							return true;
					}
					return false;
		}

		//For debug messages
		var Debugger = function() { };
		Debugger.log = function(message) {
			try {
				console.log(message);
			}
			catch (exception) {
				return;
			}
		}

		function canvasSupport() {
			return Modernizr.canvas;
		}

		function getShapeForPlayer(name, playertype) {
			for (i=0; i < numShapes; i++) {
				if (shapes[i].name == name)
				{
					return i;
				}
			}

			// Cannot be found ! Creating !
			makeShape(name, 10, 10, playertype);
			return getShapeForPlayer(name, playertype);
 
		}

		function makeShape(name, x, y, type) {
			var i;
			var tempX;
			var tempY;
			var tempRad;
			var tempR;
			var tempG;
			var tempB;
			var tempA;
			var tempColor;

			tempRad = 15;

			//we set a randomized color, including a random alpha (transparency) value.
			//The color is set using the rgba() method.

			tempA = 0.7;

			//randomly select either a circle or a square
			if (type == "player1") {
				tempR = 78;
				tempG = 245;
				tempB = 84;
				tempShape = new SimpleDiskParticle(x, y);
			}
			else if (type == "player2") {
				tempR = 0;
				tempG = 255;
				tempB = 255;
				tempShape = new SimpleDiskParticle(x, y);
			}
			else 
			{
				tempR = 245;
				tempG = 75;
				tempB = 86;
				tempShape = new SimpleSquareParticle(x, y);
			}

			tempColor = "rgba(" + tempR + "," + tempG + "," + tempB + "," + tempA + ")";
			tempShape.color = tempColor;
			tempShape.radius = tempRad;
			tempShape.name = name;
			tempShape.type = type;
			shapes.push(tempShape);
			numShapes = numShapes + 1;

			return numShapes-1;
		}

		if (!canvasSupport()) {
			return;
		}

		var theCanvas = document.getElementById("canvasOne");
		var context = theCanvas.getContext("2d");

		init();

		var dragIndex;
		var dragging;
		var mouseX;
		var mouseY;
		var dragHoldX;
		var dragHoldY;
		var timer;
		var targetX;
		var targetY;
		var easeAmount;

		function init() {
			numShapes = 0;
			easeAmount = 0.45;

			shapes = [];

			//makeShapes();

			drawScreen();

			theCanvas.addEventListener("mousedown", mouseDownListener, false);
		}

		function getClickedShape(evt)
		{
			//getting mouse position correctly 
			var bRect = theCanvas.getBoundingClientRect();
			mouseX = (evt.clientX - bRect.left)*(theCanvas.width/bRect.width);
			mouseY = (evt.clientY - bRect.top)*(theCanvas.height/bRect.height);

			/*
			   Below, we find if a shape was clicked. Since a "hit" on a square or a circle has to be measured differently, the
			   hit test is done using the hitTest() function associated to the type of particle. This function is an instance method
			   for both the SimpleDiskParticle and SimpleSqureParticle classes we have defined with the external JavaScript sources.		
			 */
			for (i=0; i < numShapes; i++) {
				if (shapes[i].hitTest(mouseX, mouseY)) {	
					dragging = true;
					//the following variable will be reset if this loop repeats with another successful hit:
					dragIndex = i;
				}
			}

			return dragIndex;
}



		function mouseDownListener(evt) {
			var i;

			var dragIndex = getClickedShape(evt);

			if (dragging) {
				window.addEventListener("mousemove", mouseMoveListener, false);

				//place currently dragged shape on top
				shapes.push(shapes.splice(dragIndex,1)[0]);

				//shapeto drag is now last one in array
				dragHoldX = mouseX - shapes[numShapes-1].x;
				dragHoldY = mouseY - shapes[numShapes-1].y;

				//The "target" position is where the object should be if it were to move there instantaneously. But we will
				//set up the code so that this target position is approached gradually, producing a smooth motion.
				targetX = mouseX - dragHoldX;
				targetY = mouseY - dragHoldY;

				//start timer
				timer = setInterval(onTimerTick, 1000/30);
			}
			theCanvas.removeEventListener("mousedown", mouseDownListener, false);
			window.addEventListener("mouseup", mouseUpListener, false);

			//code below prevents the mouse down from having an effect on the main browser window:
			if (evt.preventDefault) {
				evt.preventDefault();
			} //standard
			else if (evt.returnValue) {
				evt.returnValue = false;
			} //older IE
			return false;
		}

		function onTimerTick() {
			//because of reordering, the dragging shape is the last one in the array.
			shapes[numShapes-1].x = shapes[numShapes-1].x + easeAmount*(targetX - shapes[numShapes-1].x);
			shapes[numShapes-1].y = shapes[numShapes-1].y + easeAmount*(targetY - shapes[numShapes-1].y);

			//stop the timer when the target position is reached (close enough)
			if ((!dragging)&&(Math.abs(shapes[numShapes-1].x - targetX) < 0.1) && (Math.abs(shapes[numShapes-1].y - targetY) < 0.1)) {
				shapes[numShapes-1].x = targetX;
				shapes[numShapes-1].y = targetY;
				//stop timer:
				clearInterval(timer);
			}
			drawScreen();
		}

		function mouseUpListener(evt) {
			theCanvas.addEventListener("mousedown", mouseDownListener, false);
			window.removeEventListener("mouseup", mouseUpListener, false);
			if (dragging) {
				dragging = false;
				window.removeEventListener("mousemove", mouseMoveListener, false);
			}

			var dragIndex = getClickedShape(evt);
                        var position = '{"name" : "' + shapes[dragIndex].name + '", "x" : ' + shapes[dragIndex].x + ', "y" : ' + shapes[dragIndex].y + ', "zmap" : ' + shapes[dragIndex].zmap +'}';
			
			// Eventually delete action
			if (shapes[dragIndex].x<+50 && shapes[dragIndex].y>550-50)
			{
                        	position = '{"name" : "' + shapes[dragIndex].name + '", "x" : 30, "y" : 30, "zmap" : 0 }';
			}
			socket.emit('move', {data: position});
		}

		function mouseMoveListener(evt) {
			var posX;
			var posY;
			var shapeRad = shapes[numShapes-1].radius;
			var minX = shapeRad;
			var maxX = theCanvas.width - shapeRad;
			var minY = shapeRad;
			var maxY = theCanvas.height - shapeRad;

			//getting mouse position correctly 
			var bRect = theCanvas.getBoundingClientRect();
			mouseX = (evt.clientX - bRect.left)*(theCanvas.width/bRect.width);
			mouseY = (evt.clientY - bRect.top)*(theCanvas.height/bRect.height);

			//clamp x and y positions to prevent object from dragging outside of canvas
			posX = mouseX - dragHoldX;
			posX = (posX < minX) ? minX : ((posX > maxX) ? maxX : posX);
			posY = mouseY - dragHoldY;
			posY = (posY < minY) ? minY : ((posY > maxY) ? maxY : posY);

			targetX = posX;
			targetY = posY;


		}

		function drawShapes() {
			var i;
			for (i=0; i < numShapes; i++) {
				// Drawing the shape if the zmap attribute is equal to the map number
				if (mapNb == shapes[i].zmap)
				{
					//the drawing of the shape is handled by a function inside the external class.
				//we must pass as an argument the context to which we are drawing the shape.

					// We draw for Game Master or if real players
					if ($('#gm').attr('checked') == true || shapes[i].type != "npc")
						shapes[i].drawToContext(context);
				}
			}
		}

		function drawScreen() {
			//bg
			//context.fillStyle = "#000000";
			base_image = new Image();
			base_image.src = maps[mapNb];
			base_image.onload = function(){
				context.drawImage(base_image, 0, 0);
				//context.fillRect(0,0,theCanvas.width,theCanvas.height);
				drawShapes();		
			}
		}

		function changeMap() {

			mapNb = mapNb + 1;
			if (mapNb > Object.keys(maps).length)
				mapNb = 1
		
			drawScreen();
			$("#nowhereplayer").empty();
		}
		var button = document.getElementById("mapb");
		button.addEventListener("click", changeMap); 


});
</script>

  <style type="text/css" media="screen">
    canvas { 
display: block;
position: absolute;
left: 370px; 
top: 50px;
     	  },
  </style>

</head>
<body>
    <h1>Flask-SocketIO RPG</h1>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <h2>Send:</h2>
    <!--
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>
    -->


    <form id="broadcast" method="POST" action='#'>
        <input type="text" name="broadcast_data" id="broadcast_data" placeholder="Message" size="32" autocomplete="off"><br/>
        <input type="submit" value="To All Players">
    </form>
    <!--
    <form id="join" method="POST" action='#'>
        <input type="text" name="join_room" id="join_room" placeholder="Room Name">
        <input type="submit" value="Join Room">
    </form>
    <form id="leave" method="POST" action='#'>
        <input type="text" name="leave_room" id="leave_room" placeholder="Room Name">
        <input type="submit" value="Leave Room">
    </form>
    -->
    <input type="checkbox" id="gm">Game Master
<div id="form-group" style="display:none">
    <form id="send_room" method="POST" action='#'>
        <input type="hidden" name="room_name" id="room_name" value="MJ">
        <input type="text" name="room_data" id="room_data" placeholder="Message" size="32" autocomplete="off"><br/>
        <input type="submit" value="To Game Masters">
    </form>
    <!--
    <form id="close" method="POST" action="#">
        <input type="text" name="close_room" id="close_room" placeholder="Room Name">
        <input type="submit" value="Close Room">
    </form>
    -->
    <form id="map" method="POST" action="#">
	<input type="button" value="Change Map" id="mapb"/>
    </form>


    <form id="putonmap" method="POST" action="#">
        <select id="nowhereplayer" name="name" size="1">
	</select>
        <input type="submit" value="goes to this map!">
    </form>
    
</div>
    <!--
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
    -->
    <h2>Receive:</h2>
    <div id="log" style="height:500px;width:370px; overflow-y:auto;overflow-x: hidden;"></div>

<canvas id="canvasOne" width="1280" height="576">
Your browser does not support HTML5 canvas.
</canvas>
<img src="res/corb.png" style="position:absolute; left: 370px; top: 600px;" width="50px"/>
</body>
</html>
